<p>会員情報編集</p>
<table>
  <%= form_with model: @customer, url:customers_path, local:true do |f| %>
  <tr>
    <th>氏名<td><%= f.text_field :last_name %>　<%= f.text_field :first_name %></td></th>
  </tr>
  <tr>
    <th>フリガナ<td><%= f.text_field :last_name_kana %>　<%= f.text_field :first_name_kana %></td></th>
  </tr>
  <tr>
    <th>郵便番号<td><%= f.text_field :postal_code %></td></th>
  </tr>
  <tr>
    <th>住所<td><%= f.text_area :address %></td></th>
  </tr>
  <tr>
    <th>電話番号<td><%= f.text_field :telephone_number %></td></th>
  </tr>
  <tr>
    <th>メールアドレス<td> <%= f.text_field :email %></td></th>
  </tr>
  <tr>
    <th><td><p class="d-inline-block mt-2 mr-5"><%= f.submit '　　編集内容を保存　　' ,class:"btn btn-success" %></p><p class="ml-5 d-inline-block"><%= link_to "退会する", customers_delete_path ,class:"btn btn-danger" %></p></td></th>
  </tr>
  <% end %>
</table>


