<p><span style="background-color:	#e8e8e8">　商品編集　</span></p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= form_with model: @item, url:admin_item_path(@item.id), local:true do |f| %>
      <table class="d-flex align-items-center justify-content-center">
        <tr>
          <th>商品画像<td><%= f.attachment_field :image %></td></th>
        </tr>
        <tr>
          <th>商品名<td><%= f.text_field :name %></td></th>
        </tr>
        <tr>
          <th>商品説明<td><%= f.text_area :introduction %></td></th>
        </tr>
        <tr>
          <th>ジャンル<td><%= f.select :genre_id, [['ケーキ',1], ['プリン',2],['焼き菓子',3],['キャンディ',4],], {include_blank: '--選択してください--'}, class: 'sample' %></td></th>
        </tr>
        <tr>
          <th>販売ステータス<td>
              <%= f.radio_button :is_active, 'true' %>
              <%= f.label :status, '販売中', value: true %>
              <%= f.radio_button :is_active, 'false' %>
              <%= f.label :status, '販売停止中', value: false %>
          </td></th>
        </tr>
      </table>
      <div class="d-flex align-items-center justify-content-center">
        <%= f.submit '変更を保存',class:"btn btn-success" %>
      </div>
      <% end %>

    </div>
  </div>
</div>
