<p><span style="background-color:	#e8e8e8">　配送先編集　</span></p>

<table>
  <%= form_with model: @address, url:"/address/#{@address.id}", local:true do |f| %>
  <tr>
    <th>郵便番号（ハイフンなし）<td><%= f.text_field :postal_code %></td></th>
  </tr>
  <tr>
    <th>住所<td><%= f.text_field :address %></td></th>
  </tr>
  <tr>
    <th>宛名<td><%= f.text_field :name %>  <%= f.submit '変更内容を保存' ,class:"btn btn-success" %></td></th>
  </tr>
  <% end %>
</table>



